<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand text-white" href="/" id="logo"style="font-size:40px">My Blogs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/"> <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
                   <li class="nav-item">
                <a class="nav-link login-text text-black" href="/login"style="font-size:30px;margin-right:40%">Login.</a>
            </li>
                     <li class="nav-item">
                <a class="nav-link login-text text-black" href="/user"style="font-size:30px;margin-right:20%">Profile.</a>
            </li>
            <li class="nav-item">
                <a class="nav-link login-text text-black" href="/logout"style="font-size:30px;margin-left:10%">Log out</a>
            </li>
 


        </ul>
    </div>
</nav>
         

          