{% extends 'base.html'%}

{% block content%}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/particle.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
<div class="overlay">

    <div id="particles-js" class="container1">
        <div id="vick-signup" class="division">
            <h3 class="text-center"> Sign Up</h3>
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            <div class="division" id="centered-card">
                <form action="/signup" method="POST">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" placeholder="Username" name="username">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" placeholder="Email" name="email">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
                    <button id="hellobutton" type="submit" class="d-block mx-auto">Sign Up</button>
                </form>

                <p>Already have an account? <a href="/login">Login</a></p>
            </div>
        </div>
    </div>

</div>

{% endblock %}
